/* .css-155eum0 .e17yy93i0 {
  display: none;
  css-jw5pfx-LogoContainer e1wh78ri1
} */

p {
  color: black;
}

.css-155eum0 {
  display: none;
}

.css-1dr4vpx-Container {
  display: none;
}

main {
  color: black;
}

html {
  color: black;
}
